<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
			<div class="col-md-3 col-sm-4 header__top-phone">
				<span class="glyphicon glyphicon-earphone header__icon--color"></span>
				+91 080 123456
			</div>
			<div class="col-md-3 col-sm-5 header__top-email">
				<span class="glyphicon glyphicon-envelope header__icon--color"></span>
				<a href="mailto:info@wizardcomm.net">info@wizardcomm.net</a>
			</div>
				<div class=" header__social">
					<ul class="header__social-list">
						<li class="header__social-item">
							<a href="#" class="header__social-link">
								<svg viewBox="0 0 50 50" class="header__social-facebook">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons.svg#facebook"></use>
								</svg>
							</a>
						</li>
						<li class="header__social-item">
							<a href="#" class="header__social-link">
								<svg viewBox="0 0 50 50" class="header__social-twitter">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons.svg#facebook"></use>
								</svg>
							</a>
						</li>
						<li class="header__social-item">
							<a href="#" class="header__social-link">
								<svg viewBox="0 0 50 50" class="header__social-googleplus">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons.svg#facebook"></use>
								</svg>
							</a>

						</li>
					</ul>
				</div>
		</div>		
		</div>
	</div>
	<div class="header__bottom">
<nav class="navbar header__bottom--nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right header__navbar" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav header__navbar-list">
        <li class="active header__navbar-item"><a href="#" class="header__navbar-link">Home <span class="sr-only">(current)</span></a></li>
        <li class="header__navbar-item"><a href="#" class="header__navbar-link">Solutions</a></li>
        <li class="header__navbar-item"><a href="#" class="header__navbar-link">Portfolio</a></li>
        <li class="header__navbar-item"><a href="#" class="header__navbar-link">Contact</a></li>
        <li class="header__navbar-item"><a href="#" class="header__navbar-link">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	</div>
</header>