<section class="hero">
    <img src="img/hero-image.jpg" alt="Digital and beyond" class="hero__image" />
    <div class="hero__description">
        <h1 class="hero__title">Digital <span class="hero__title--style">&amp; Beyond</span></h1>
        <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et asperiores omnis autem recusandae voluptate blanditiis dolorem
            quam harum fugiat. Mollitia distinctio veniam modi earum, atque debitis cupiditate obcaecati vitae blanditiis!
        </p>
        <div class="hero__controls">
            <a href="#" class="button button__primary">Explore</a>
            <a href="#" class="button button__white">Free consultancy</a>
        </div>
    </div>
</section>