/******************************************************************

Site Name: Wizard communications
Author: Arun Nayak

Variables used accross all sass stylesheets

******************************************************************/


// Text
// Weights
$light: 300;
$regular: 400;
$bold: 900;

// Font Families
//$fontFamily: 'Coming Soon Regular', Arial, Helvetica;
$fontFamily:  Arial, Helvetica, sans-serif;
    
$red: #eb1c26;
$orange: #fc8930;
$lightblue: #24b8e3;

// Colours
$text: #010101;
$error: #E82A2A;
$success: #2C963A;
$primary: #e3e516;
$secondary: $red;
$social: #5597d2;
$link: #000;
$bordercolor: #d2e6ef;
$bordercolor2: #010101;

// Spacing
$panel-bottom-margin: 36px;

