<section class="section solutions">
    <div class="container">
    <h2 class="section__heading">Solutions</h2>
        <ul class="solutions__list">
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />
                </a>
                
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />
                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />

                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />

                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />

                </a>
            </li>
        </ul>
    </div>
</section>