<section class="section solutions">
    <div class="container">
    <h2 class="section__heading">Solutions</h2>
        <ul class="solutions__list">
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <svg viewBox="0 0 50 50" class="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons.svg#sdConsulting"></use>
                    </svg>
                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">

                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">

                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">

                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">

                </a>
            </li>
        </ul>
    </div>
</section>