<section class="section solutions">
    <div class="container">
        <h2 class="section__heading">Solutions</h2>
        <ul class="solutions__list">
            <li class="solutions__item">
                <a class="solutions__link solutions__link--selected" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />
                    <span class="solutions__title">Software development and consulting</span>
                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />
                    <span class="solutions__title">Creative service</span>
                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />
                    <span class="solutions__title">Web design</span>
                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />
                    <span class="solutions__title">elearning solutions</span>
                </a>
            </li>
            <li class="solutions__item">
                <a class="solutions__link" href="">
                    <img src="../../img/home/001_software_dev.svg" alt="" />
                    <span class="solutions__title">Business service offshoring</span>
                </a>
            </li>
        </ul>
        <div class="solutions__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos officiis eligendi libero quas non deserunt, debitis adipisci
            saepe, at quam ullam magni? Culpa, at! Maiores asperiores voluptatem quo repellendus, vero.
        </div>
    </div>
</section>