<section class="section case-studies">
    <div class="container">
        <h2 class="section__heading">Our Project and case studies</h2>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs case-studies__tab-list" role="tablist">
            <li role="presentation" class="active case-studies__tab-item"><a class="case-studies__tab-link" href="#home" aria-controls="home" role="tab" data-toggle="tab">our project</a></li>
            <li role="presentation" class="case-studies__tab-item"><a class="case-studies__tab-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mobile application</a></li>
            <li role="presentation" class="case-studies__tab-item"><a class="case-studies__tab-link" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">UI&amp;UX</a></li>
            <li role="presentation" class="case-studies__tab-item"><a class="case-studies__tab-link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">e-learning</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">...</div>
            <div role="tabpanel" class="tab-pane" id="profile">...</div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div>

    </div>
</section>