.section{
    padding-top: 3em;
    &__heading{
        color: #424243;
        font-size: 2em;
        text-align: center;
        font-weight: bold;

        @media(min-width: 768px){
            font-size: 3.5em;
        }
    }
}