.solutions{
    &__list{}
    &__item{
        float: left;
        margin: 0 0 5% 0%;
        text-align: center;
        width: 50%;
        &:nth-child(2n){
            margin-right: 0;
        }
        @media(min-width: 768px){
            width: calc(20% - 6em);
            margin-right: 6em;
            &:nth-child(2n){
                margin-right: 6em;
            }
        }

        &:last-child{
            margin-right: 0;
        }

        &:hover{
            cursor: pointer;
        }
    }
    &__link{
        width: 100%;
        display: block;
        
        
    }
}